# Python virtual environment
venv/
.venv/
venv*/

# Python cache
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
staticfiles/
media/
student_documents/
student_profiles/

# Installers & Binaries
*.msi
*.exe

# Environment variables
.env
.env.local

# VS Code
.vscode/

# React / Node
frontend/node_modules/
frontend/dist/